{% extends 'front/layout/layout.html.twig' %}

{% block title %}
    {% if page.getMetaTitle() %}{{ page.getMetaTitle() }}{% else %}{{ page.getTitre() }}{% endif %}
{% endblock %}

{% block meta %}
    {% if page.getMetaDescription() %}
        <meta name="description" content="{{ page.getMetaDescription() }}"/>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    <div id="page-cms" class="content-center container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="green">{{ page.getTitre() | raw }}</h1>
                {{ page.getTexte() | raw }}
            </div>
        </div>
    </div>
{% endblock %}