<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

    <link rel="stylesheet" type="text/css" media="screen"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    {% block stylesheets %}
    {{ encore_entry_link_tags('application') }}

        <style type="text/css">
            #contenu {
                margin-left: 0px;
                margin-top: 0px;
                margin-bottom: 0px;
            }

            #cookie-law-info-bar {
                display: none !important;
            }

            .sf-toolbar {
                display: none !important;
            }
        </style>
    {% endblock %}

    {% include "application/layout/_script.html.twig" %}
    <script type="text/javascript">
        var imagesToCheck = [];
        var imagesToCheckInterval = null;

        function isImageLoaded(imagesToCheck) {
            for(var i = 0; i<imagesToCheck.length; i++) {
                var img = imagesToCheck[i];
                var imgLoaded = true;

                if(!img.complete) {
                    imgLoaded = false;
                }

                if(typeof(img.naturalWidth) == "undefined" || img.naturalWidth === 0) {
                    imgLoaded = false;
                }

                if(imgLoaded === true) {
                    imagesToCheck[i] = null;
                }
            }
        }

        $(document).ready(function(){
            $('#contenu').find('img').each(function(){
                imagesToCheck.push($(this)[0]);
            })

            imagesToCheckInterval = setInterval(function(){
                if(imagesToCheck.length == 0) {
                    clearInterval(imagesToCheckInterval);
                    imagesToCheckInterval = null;

                    var event = new CustomEvent('entitesLoadingComplete', {});
                    window.dispatchEvent(event);
                } else {
                    isImageLoaded(imagesToCheck);
                    imagesToCheck = imagesToCheck.filter(function(i){
                        return i !== null;
                    })
                }
            }, 2000);
        })
    </script>

</head>
<body>
    <div id="contenu" style="width: {{ backgroundWidth }}px;height: {{ backgroundHeight }}px;">
        <input type="hidden" id="url-reprendre-offre"
               value="{{ path('mjmt_front_client_offer_selection_from_application', {'creationId' : creation.getId, 'hash' : creation.getReferenceEcriture}) }}"/>
        <input type="hidden" id="url-replacer-repere"
               value="{{ path('mjmt_application_sauvegarder_proportion', {'creationId' : creation.getId, 'hash' : creation.getReferenceEcriture}) }}"/>
        <input type="hidden" id="url-tampon"
               value="{{ path('mjmt_application_sauvegarder_tampon', {'creationId' : creation.getId, 'hash' : creation.getReferenceEcriture}) }}"/>

        <div id="informations-proportion">
            <input type="hidden"
                   value="{% if (creation.repere1X == '' and creation.repere1X != '0') or (initialisationProportionsAdmin) %}1{% endif %}"
                   name="initialisation_application"/>
            {% if initialisationProportionsAdmin %}
                <input type="hidden" value="1" name="initialisation_proportions_admin"/>
            {% endif %}
            <input type="hidden" value="{{ creation.repere1X }}" name="repere1_x"/>
            <input type="hidden" value="{{ creation.repere1Y }}" name="repere1_y"/>
            <input type="hidden" value="{{ creation.repere1Hauteur }}" name="repere1_hauteur"/>
            <input type="hidden" value="{{ creation.repere1Largeur }}" name="repere1_largeur"/>
            <input type="hidden" value="{{ creation.repere2X }}" name="repere2_x"/>
            <input type="hidden" value="{{ creation.repere2Y }}" name="repere2_y"/>
            <input type="hidden" value="{{ creation.repere2Hauteur }}" name="repere2_hauteur"/>
            <input type="hidden" value="{{ creation.repere2Largeur }}" name="repere2_largeur"/>
            <input type="hidden" value="{{ creation.repere3X }}" name="repere3_x"/>
            <input type="hidden" value="{{ creation.repere3Y }}" name="repere3_y"/>
            <input type="hidden" value="{{ creation.repere3Hauteur }}" name="repere3_hauteur"/>
            <input type="hidden" value="{{ creation.repere3Largeur }}" name="repere3_largeur"/>
            <input type="hidden" value="{{ creation.repere4X }}" name="repere4_x"/>
            <input type="hidden" value="{{ creation.repere4Y }}" name="repere4_y"/>
            <input type="hidden" value="{{ creation.repere4Hauteur }}" name="repere4_hauteur"/>
            <input type="hidden" value="{{ creation.repere4Largeur }}" name="repere4_largeur"/>
        </div>
        <div id="contenu-fond-image" style="z-index: 0;">
            <span
                    id="canvasLassoTemplate"
                    data-backgroundImage="{{ creation.getWebPath() | imagine_filter('thumb_app_contenu_fond_image') }}"
                    width="{{ backgroundWidth + 50 }}"
                    height="{{ backgroundHeight + 50 }}"></span>
            <img src="{{ creation.getWebPath() | imagine_filter('thumb_app_contenu_fond_image') }}"
                 onmousedown="return false;" onmousemove="return false;" width="{{ backgroundWidth }}"
                 height="{{ backgroundHeight }}"/>
        </div>
        <div class="rendu-proportion-homme">
            <img src="{{ asset('/application/images/homme.png') }}" attr-width="200" attr-height="600"/>
        </div>

        {% for creation_entite in creation.getCreationEntites() %}
            {% include "application/selection/entite_html.html.twig" with {'creation_entite' : creation_entite} %}
        {% endfor %}

    </div>
</body>
</html>